<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.soidutaja.soidutaja" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SelectRoleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectLocationsActivity"
            android:label="@string/title_activity_select_locations" >
        </activity>
        <activity
            android:name=".ListOfAllTripsActivity"
            android:label="@string/title_activity_list_of_all_trips" >
        </activity>
        <activity
            android:name=".TripInfoView"
            android:label="@string/title_activity_trip_info_view" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
