<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.soidutaja.soidutaja" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <activity
            android:name=".SelectLocationsActivity"
            android:label="@string/title_activity_select_locations" >
        </activity>
        <activity
            android:name=".ListOfAllTripsActivity"
            android:label="@string/title_activity_list_of_all_trips" >
        </activity>
        <activity
            android:name=".TripInfoView"
            android:label="@string/title_activity_trip_info_view" >
        </activity>
        <activity
            android:name=".MakeDriveActivity"
            android:label="@string/title_activity_make_drive" >
        </activity>
        <activity
            android:name=".CreatedDriveView"
            android:label="@string/title_activity_created_drive_view" >
        </activity>
        <activity
            android:name=".ProfileViewActivity"
            android:label="ProfileViewActivity" >
        </activity>
        <activity
            android:name=".FacebookLoginActivity"
            android:label="@string/title_activity_facebook_login" >

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name=".SelectRoleActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
